<?xml version="1.0"?>
<launch>
    <!-- Load robot parameters -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find ackermann_nav)/urdf/ackermann.urdf.xacro'" />

    <!-- Start RPLidar -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <!-- Start robot state publisher node -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Load map file -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find ackermann_nav)/maps/map.yaml" />

    <!-- Start AMCL localization -->
    <include file="$(find amcl)/examples/amcl_diff.launch" />

    <!-- Start Ackermann controller -->
    <node pkg="ackermann_nav" type="ackermann_controller" name="ackermann_controller" output="screen">
        <param name="wheelbase" value="0.25" />
        <param name="max_steering_angle" value="0.6" />
        <param name="max_speed" value="5.0" />
    </node>
</launch>